<div class="container">

  <!--Age-->
  <div class="row">
    <div class="col-sm-4">
      <h4>{{"COMMON.AGE" | translate}}<span class="range-value">{{vm.age}}</span></h4>
    </div>
    <div class="col-sm-8">
      <input type="range" min="10" max="100" step="1" ng-model="vm.age" data-orientation="horizontal">
    </div>
  </div>
  <!--/Age-->

  <hr>

  <!--Height-->
  <div class="row">
    <div class="col-sm-4">
      <h4>{{"COMMON.HEIGHT" | translate}}<span class="range-value">{{vm.height}}</span></h4>
    </div>
    <div class="col-sm-8">
      <input type="range" min="100" max="220" step="1" ng-model="vm.height" data-orientation="horizontal">
    </div>
  </div>
  <!--/Height-->

  <hr>

  <!--Haircolor-->
  <div class="row">
    <div class="col-sm-4">
      <h4 translate="COMMON.HAIR_COLOR">Haircolor</h4>
    </div>
    <div class="col-sm-8">
      <div class="form-group">
        <select class="form-control"
                ng-model="vm.hairColorValue"
                ng-options="option.value as option.name | translate for option in vm.hairColorOptions track by $index">
        </select>
      </div>
    </div>
  </div>
  <!--/Haircolor-->

  <hr>

  <!--Hairlength-->

  <options-list list="vm.hairLengthOptions" title="COMMON.HAIR_LENGTH" value="vm.hairLengthValue"></options-list>

  <!--/Hairlength-->

  <hr>

  <!--Eyecolor-->
  <div class="row">
    <div class="col-sm-4">
      <h4 translate="COMMON.EYE_COLOR">Eyecolor</h4>
    </div>
    <div class="col-sm-8">
      <div class="form-group">

        <label class="radio-inline" ng-repeat="option in vm.eyeColorOptions">
          <input type="radio" name="eyecolor" ng-model="vm.eyeColourValue" ng-value="option.value">
          {{option.name | translate}}
        </label>

      </div>
    </div>
  </div>
  <!--/Eyecolor-->

  <hr>

  <!--Beard-->
  <options-list list="vm.beardOptions" title="BOY.BEARD" value="vm.beardValue"></options-list>
  <!--/Beard-->
  <hr>

  <!--Body-->
  <options-list list="vm.bodyOptions" title="COMMON.BODY" value="vm.bodyValue"></options-list>
  <!--/Body-->
  <hr>

  <div class="row">
    <div class="col-sm-4 pull-right">
      <button ng-click="vm.showResult()" type="button" class="btn btn-lg btn-primary btn-lg">{{ 'COMMON.CALCULATE' |
        translate}}
      </button>
    </div>
  </div>
  <hr>
</div>
